<div class="productName"><%= @product.name %></div>
<a href="#" class="js-next" data-id="<%=@product.id%>">Next Product</a>
<p class="productPrice"><%= @product.price %></h1>
<p class="productInventory"><%= @product.inventory %></p>
<p class="productDescription"><%= @product.description %></p>
